# .env.example
# Credenciales para el proyecto database-p (Visons)

# SQL Server
MSSQL_SA_PASSWORD=SuperSecretPass123!
MSSQL_DATABASE=Visons

# MongoDB
MONGO_ADMIN_USER=admin
MONGO_ADMIN_PASSWORD=adminpassword
MONGO_DATABASE=Visons

# Puertos
HTTP_PORT=9090
